
<div class="container pt-5">
  <div class="text-center">
    <div class="clientes mb-4">Clientes registrados</div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customers; let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ customers ? customer.name : 'No disponible'}}</td>
        <td>{{ customers ? customer.edad : 'No disponible'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center pt-4">
  <button (click)="goToForm('form')" type="button" class="btn btn-primary">Agregar Cliente</button>
</div>